streamlit

python-dotenv

PyPDF2
pandas
python-docx
openpyxl

beautifulsoup4

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq

faiss-cpu
sentence-transformers
huggingface-hub

requests
tqdm

google-generativeai
